.headerNav {
    margin-right: 30px;
    background-color: rgb(129, 129, 180);
    display: flex;
    gap: 20px; 
    padding: 50px;
  }
  
  .headerNav a {
    text-decoration: none; /* Remove underline */
    color: black; /* Set link color */
    font-size: 16px; /* Set font size */
  }
  
  .headerNav a:hover {
    color: blue; /* Change color on hover */
  }


  /* buttons customizations */
  .headerButton {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #6e19f8;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .headerButton:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .headerButton:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }



